.categories, .products {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.category-picture {
    height: 200px;
}

.product-picture {
    width: 85%;
}

.display-inline {
    display: inline-block;
}